*.egg-info
__pycache__
dist/
*.pyc
.venv
.coverage
coverage.xml
*_cache/
.python-version
.vscode/
hexlet_code.egg-info/second_project.cast
.DS_Store
gendiff/__pycache__/
second_project.cast
.DS_Store
gendiff/__pycache__/
.python-version